.theme-light {
  background-color: white;
}

.theme-dark {
  background-color: black;
}

.panel-light {
  background-color: white;
}

.panel-dark {
  background-color: black;
}

.button-light {
  background-color: white;
}

.button-dark {
  background-color: black;
}
